@model HondaVN.Models.Bill

@{
    ViewData["Title"] = "Xóa hóa đơn";
}

<h1 class="text-dark">Xóa hóa đơn</h1>

<h3 class="text-dark">Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4 class="text-dark">Hóa đơn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BillId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class= "btn btn-info"><i class="bi bi-skip-backward"></i>Quay lại danh sách</a>
    </form>
</div>
