@model IEnumerable<HondaVN.Models.BillDetail>

@{
    ViewData["Title"] = "Trang chi tiết hóa đơn";
}

<h1 class="text-secondary">Chi tiết hóa đơn</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Tạo mới</a>
</p>
<!-- Hiển  thị thông báo alert-->
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Thông báo! </strong>@TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
            @*<span>x</span>*@
        </button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillDetailId" class="btn btn-warning"><i class="bi bi-pencil-square"></i>Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.BillDetailId" class="btn btn-success"><i class="bi bi-sliders"></i>Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.BillDetailId" class="btn btn-danger"><i class="bi bi-trash"></i>Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
